#bckimage{
    width:100%;
    height:100%;
}

#bckDiv{
    height:300px;
}

.imageWrapper{
    height:175px !important;
    width:175px !important;
    position: relative;
    top:-100px;
    left:50px;
    margin-right: 0px;
    display:inline-block;
    cursor: pointer;
}

.imageWrapper2{
    height:250px !important;
    width:250px !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.imageWrapper3{
    height:100px !important;
    width:100px !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.imageWrapperNet{
    height:175px !important;
    width:175px !important;
    margin-left: auto;
    margin-right: auto;
}
#editWrapper{
    display:inline-block;
    position: relative;
}
.profilePic{
    height:100%;
    width:100%;
    border-radius: 50%;
    border: 5px solid #dde7f0;
    object-fit: cover;
}

.normalElement{
    background-color: white;
    box-shadow: .5px 1px grey;
    position: relative;

}

#mainPage{
    position:relative;
    top:50px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
#errorMessage{
    position: relative;
    top:50px;
    height:600px;
    text-align: center;
    
}
#errorMessage h1{
    color: royalblue;
    line-height: 300px;
}

.netCards{
    height:100%;
    width: 100%;
}

.spinner-border{
    width:100px;
    height:100px;
}
.spinnerWrapper{
    position:relative;
    top:250px;
}

#feedMain{ 
    margin-left: auto;
    margin-right: auto;
    width:650px;
    position:relative;
    top:50px;
}
.network{
    margin-left: auto;
    margin-right: auto;
    width:850px;
}

.IntroProfile{
    width:400px;
    position: absolute;
    top:65px;

}
.IntroProfile2{
    width:400px;
    position: fixed;
    top:0px;
}

.feedimage{
    width:50px;
    height:50px;
    top:-20px;
    position: relative;
}
.editButton{
    position: absolute;
    left:500px;
    top:40px;
    border-radius: 50%;
    border: 5px solid #dde7f0;
    cursor: pointer;
}
.editButton:hover{
    opacity:50%;
}
.editButton:active{
    transform: scale(.9);
    opacity:50%;
}

.editButton2{
    position: absolute;
    left:680px;
    top:0;
    border-radius: 50%;
    border: 5px solid #dde7f0;
    cursor: pointer;
}
.editButton2:hover{
    opacity:50%;
}
.editButton2:active{
    transform: scale(.9);
    opacity:50%;
}

.editButton3{
    width:100%;
    height:50px;
    border: 5px solid #dde7f0;
    cursor: pointer;
}
.editButton3:hover{
    opacity:50%;
}
.editButton3:active{
    transform: scale(.9);
    opacity:50%;
}

#profile2{
    position: relative;
}

